.container {
  width: 900px;
  background: white;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  gap: 30px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  font-family: "Ubuntu", sans-serif;
}

.sidebar {
  width: 260px;
  background: linear-gradient(180deg, #473dff, #6259ff);
  border-radius: 10px;
  padding: 30px 20px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 25px;
  /* background-image: url("/interactive-comment/intercom-app/src/components/assets/images/bg-sidebar-desktop.svg"); */
  background-size: cover;
}

.step {
  display: flex;
  align-items: center;
  gap: 15px;
  opacity: 0.8;
}
.step.active {
  opacity: 1;
}

.circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.info span {
  font-size: 12px;
  letter-spacing: 1px;
  opacity: 0.7;
}

.info p {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}

.form-area {
  flex: 1;
  padding: 10px 20px;
}

.form-area h1 {
  font-size: 28px;
  color: #03295a;
}

.subtitle {
  color: #9699ab;
  margin-bottom: 25px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #022959;
  font-weight: 500;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #d6d9e6;
  font-size: 16px;
}

input:focus {
  outline: none;
  border-color: #473dff;
}

.next {
  padding: 12px 20px;
  background: #03295a;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  float: right;
  font-size: 16px;
}

.next:hover {
  background: #174a89;
}

/* Responsive */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    width: 95%;
  }

  .sidebar {
    flex-direction: row;
    height: 150px;
   /* background-image: url("/interactive-comment/intercom-app/src/components/assets/images/bg-sidebar-desktop.svg"); */
    /* background-image: url("/assets/images/bg-sidebar-mobile.svg"); */
  }

  .form-area {
    padding: 20px;
  }
}
